<router-outlet></router-outlet>
<div class="ms-content-wrapper">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>Customer List</h6>
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="data-table-5" class="table  thead-primary dataTable no-footer" role="grid"
                            aria-describedby="data-table-5_info" style="width: 843px;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="data-table-5"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="Product ID: activate to sort column descending"
                                        style="width: 116px;">Customer ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1"
                                        colspan="1" aria-label="Product Name: activate to sort column ascending"
                                        style="width: 244px;">Customer Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1"
                                        colspan="1" aria-label="Quantity: activate to sort column ascending"
                                        style="width: 97px;">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1"
                                        colspan="1" aria-label="Status: activate to sort column ascending"
                                        style="width: 108px;">Phone Number</th>
                                    <th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1"
                                        colspan="1" aria-label="Price: activate to sort column ascending"
                                        style="width: 68px;">Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td class="sorting_1">01475</td>
                                    <td>Shahrukh Khan</td>
                                    <td>sk@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">02351</td>
                                    <td>Ajay Devgan</td>
                                    <td>aj@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_1">12121</td>
                                    <td>Akshay Kumar</td>
                                    <td>ak@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">12145</td>
                                    <td>Amitabh bacchan</td>
                                    <td>ab@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_1">14451</td>
                                    <td>Ranveer Singh</td>
                                    <td>rs@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">14526</td>
                                    <td>Salman Khan</td>
                                    <td>sk@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_1">15451</td>
                                    <td>Vimal</td>
                                    <td>vimal@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">15485</td>
                                    <td>Rajni Gandha</td>
                                    <td>rg@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_1">22366</td>
                                    <td>Virat</td>
                                    <td>virat@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">25252</td>
                                    <td>Harshal</td>
                                    <td>hp@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_1">28366</td>
                                    <td>Maxwell</td>
                                    <td>max@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">29252</td>
                                    <td>Ronaldo</td>
                                    <td>cr7@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">29252</td>
                                    <td>Anushka</td>
                                    <td>anusen@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Female</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">29252</td>
                                    <td>Messi</td>
                                    <td>messi@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Male</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1">29252</td>
                                    <td>Avneet Kaur</td>
                                    <td>avnkaur@gmail.com</td>
                                    <td>9999999999</td>
                                    <td>Female</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>