@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-item img{
	filter: blur(4px);
  	-webkit-filter: blur(4px);
}
/* .carousel-item .overlay{
	background-color: rgba(0, 0, 0, 0.9);
} */
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: 'Ubuntu', sans-serif;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* .navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.logreg{
    display: inline-block;
    background: #e98401;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #e98401;
    transition: all 0.3s ease;
}
.logreg:hover{
    background: none;
    border: 2px solid #e98401;
    transition: all 0.3s ease;
}
.navbar.sticky .logreg:hover{
    background: #000;
    color: #e98401;
    transition: all 0.3s ease;
} */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    /* background: #e98401; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 5px 0;
    background: #e98401;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
	text-decoration: none;
}
.navbar .logo a span{
    /* color: #e98401; */
    transition: all 0.3s ease;

}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
	text-decoration: none;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
	text-decoration: none;
}
.navbar .menu li a:hover{
    color: #e98401;
}
.navbar.sticky .menu li .menu-btn:hover{
    color: #fff;
    transition: all 0.3s ease;
}
.logreg{
    display: inline-block;
    background: #e98401;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #e98401;
    transition: all 0.3s ease;
}
.logreg:hover{
    background: none;
    border: 2px solid #e98401;
    transition: all 0.3s ease;
}
.navbar.sticky .logreg:hover{
    background: #000;
    color: #e98401;
    transition: all 0.3s ease;
}
/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar .home-content a{
    display: inline-block;
    background: #e98401;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #e98401;
    transition: all 0.3s ease;
}
.w-100 {
	height: 100vh;
}
.main_bg{
    background-image: url(background.jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background: none;
    border: 1px solid #e98401;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Ubuntu', sans-serif;
    background: none;
    border: 1px solid #e98401;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form .selector{
	color: #000;
}
.main-form div span{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Ubuntu', sans-serif;
    width: 200px;
    background-color: #e98401 !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Ubuntu', sans-serif;
    width: 200px;
    background: none !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}

/* Responsive styling */

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

/* Footer section styling */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}
footer span a{
    color: #e98401;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}
/* @media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
} */
