@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}
footer span a{
    color: #e98401;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* all similar styling code */
section{
    padding: 50px 0;
}
.about, .services, /*.skills,*/ .fastfood, .contact, footer{
    font-family: 'Poppins', sans-serif;
}